@import "../node_modules/bootstrap/scss/bootstrap";

:root{
    background-color: black;
}

* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

.App {
    background-color: black;
    color: white;
}
body{
    background-color: black
}