@import "../node_modules/bootstrap/scss/bootstrap";

:root{
    background-color: black;
}

* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

.App {
    background-color: black;
    color: white;
}
body{
    background-color: black
}
.buttonColor{
    background-color: #ffb22c;
}
.home{
    display: flex;
    position: relative;
    background-image: url('../assets/home.png');
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
}
.homeImg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.homeTitle{
    z-index: 100;
    text-align: center;
}
.homeTitle h1{
    font-size: 5rem;
    font-weight: 900;
    color: white;
}
