 .servicesSection{
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
.custom-card {
  width: 16rem;
  height: 19rem;
  border-radius: 10px;
  background-color: #27272a;
  color: #f8fafc;
  padding: 1rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}
.hover-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  transition: transform 0.5s;
}
.custom-card:hover .hover-img {
  transform: scale(1.1);
}
.custom-card:hover .custom-card-title {
  visibility: hidden;
  transform: translateY(-4rem);
}
.custom-card-title{
  padding-top: 0.5rem;
}

.hover-content {
  position: absolute;
  width: 14rem;
  left: 0;
  padding: 1.25rem;
  bottom: -6rem;
  transition: transform 0.5s;
}
.custom-card:hover .hover-content {
  transform: translateY(-4rem);
}
.visibleTattoo{
  visibility: hidden;
}
.custom-card:hover .visibleTattoo {
  visibility: visible;
}

.hover-bg {
  position: absolute;
  left: 0;
  width: 16rem;
  height: 21rem;
  background-color: #ffb22c;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: -1;
}
.custom-card:hover .hover-bg {
  opacity: 0.7;
}
.hover-text {
  opacity: 0;
  transition: opacity 0.5s;
}
.custom-card:hover .hover-text {
  opacity: 1;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
@media screen and (max-width: 1440px) {
  .custom-card {
    width: 15rem;
    height: 17rem;
  }
  .hover-img {
    width: 100%;
    height: 13.2rem;
    object-fit: cover;
    transition: transform 0.5s;
  }
}
@media screen and (min-width: 1441px) {
  .custom-card {
    width: 240px;
    height: 272px;
  }
  .hover-img {
    width: 100%;
    height: 213px;
    object-fit: cover;
    transition: transform 0.5s;
  }
  .custom-card-title{
    padding-top: 0.5rem;
  }
  
}